@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,300;0,400;0,700;1,700&display=swap');

:root {
  --primary: #0060a1;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  border: none;
}

body {
  font-family: "JetBrains Mono", monospace;
  /* min-height: 7000px; */
  background-color: #fff;
}
#content  {
  display: flex;
  justify-content: center;
  position: relative;
}
.container {
  width: 80%;
  /* z-index: -2; */
}
p{
  line-height: 2;
  font-weight: 400;
}

/* media query */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
}
@media (max-width: 485px) {
  html {
    font-size: 55%;
  }
}